<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>主页</title>
    <script th:src="@{js/common/jquery.js}"></script>
    <script th:src="@{js/common/bootstrap.min.js}"></script>
    <script th:src="@{js/common/jquery.fullPage.min.js}"></script>
    <script th:src="@{js/index.js}"></script>
    <script th:src="@{js/common/jquery-3.2.1.min.js}"></script>

    <link rel="stylesheet" th:href="@{css/common/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/index.css}"/>
    <link rel="stylesheet" th:href="@{css/toPage.css}"/>


</head>
<body>
<div class="header_top">
    <div class="sub-head-inner clearfix">
        <div class="market-logo">
            <a href="http://yanxuan.tuniu.com/">
                <img th:src="@{http://m.tuniucdn.com/fb2/t1/G1/M00/56/FB/Cii-U1iFwCGIEUG7AAAYZaB7MGYAAHIbQPmRh8AABh9216.png}">
            </a>
        </div>
      <!--  <div class="sub-head-titles clearfix">
            <ul class="J_head">
                <a href="#" class="active">
                   <li th:value="0">首页</li>
                </a>
                <a href="#" th:each="config : ${configList}">
                    <li th:value="${config.code}" th:text="${config.zhName}"></li>
                </a>
            </ul>
        </div>-->
    </div>
</div>

<div class="marketwrap clearfix">
    <div class="product-list-wrap">
        <div class="product-list-inner">
            <input hidden class="J_productType" th:value="0"/>
            <input hidden class="J_htmlNum" th:value="0"/>
            <input hidden class="J_productPrice" th:value="0"/>
            <input hidden class="J_productTheme" th:value="0"/>
            <input hidden class="J_totalCount" th:value="${bkProductList.meta.count}"/>
            <div class="product-list-content">
                <div class="product-list-condition clearfix">
                    <ul class="J_product_type ul-ul">
                        <li class="first-condition" th:text="@{类型：}"></li>
                        <li class="codition active" th:value="0">全部</li>
                        <li th:each="config:${productTypeList}" class="codition" th:text="${config.zhName}" th:value="${config.code}"></li>
                        <li class="codition" th:value="-1">其他</li>
                    </ul>
                </div>
                <div class="product-list-condition clearfix">
                  <ul class="J_html_num ul-ul">
                       <li class="first-condition" th:text="@{张数：}"></li>
                       <li class="codition active" th:value="0">全部</li>
                       <li class="codition" th:value="1">10-20页</li>
                       <li class="codition" th:value="2">20-30页</li>
                       <li class="codition" th:value="3">30-40页</li>
                       <li class="codition" th:value="-1">其他</li>
                   </ul>
                </div>
                <div class="product-list-condition clearfix">
                        <ul class="J_price ul-ul">
                            <li class="first-condition" th:text="@{价格：}"></li>
                            <li class="codition active" th:value="0">全部</li>
                            <li class="codition" th:value="1">¥0-30</li>
                            <li class="codition" th:value="2">¥30-50</li>
                            <li class="codition" th:value="3">¥50-100</li>
                            <li class="codition" th:value="-1">其他</li>
                        </ul>
                </div>

                <div class="product-list-condition clearfix">
                    <ul class="J_theme ul-ul">
                        <li class="first-condition" th:text="@{题材：}"></li>
                        <li class="codition active" th:value="0">全部</li>
                        <li th:each="config:${productThemeList}" class="codition" th:text="${config.zhName}" th:value="${config.code}"></li>
                    </ul>
                </div>
                <div class="J_product-list product-list m-content clearfix">
                    <ul class="product-ul J_product-ul">
                        <a class="product-item J_product-item" th:each="product : ${bkProductList.data}" th:href="@{'detail/'+${product.productId}}" style="text-decoration:none" th:title="查看详细内容" target="_blank">
                            <img th:src="@{${product.showPath}}"/>
                            <div class="product-desc">
                                <span class="product-id clear" th:text="@{编号:}+${product.productId}"></span>
                                <span class="product-htmlNum clear" th:text="@{张数:}+${product.htmlNum}"></span>
                                <div class="Line"></div>
                                <div class="product-title" th:text="${product.productName}"></div>
                                <div class="product-price" style="display: block;">
                                    <span th:text="'¥'+${product.price}"></span>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="page_2"></div>
</body>
</html>

