<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>详情展示</title>
</head>

<body>
<div class="scrolltab">
    <span id="sLeftBtnA" class="sLeftBtnABan"></span>
    <span id="sRightBtnA" class="sRightBtnA"></span>
    <ul class="ulBigPic">
        <li class="liSelected" th:each="picture : ${pictureList}" >
			<span class="sPic">
                <img class="big-pic" th:src="@{${picture.picturePath}}" /></a>
            </span>
            <div class="sSideBox">
				<span class="product-title" th:text="'['+${product.productTheme}+']'+${product.productDesc}"></span>
				<span class="sIntro" th:text="'作品简介：'+${product.productSynopsis}"></span>
                <span class="detail-cl">我们承诺：</span>
                <span class="detail-cl">【承诺1】功能完整 代码简洁！</span>
                <span class="detail-cl">【承诺2】同一所学校不发第二件！！</span>
                <span class="detail-cl">【承诺3】优质售后 提供答疑资料！！！</span>
                <!--<span>如需该作品论文 请联系淘宝掌柜</span>-->
                 <span style="font-size: 15px;    margin-top: 23px;" th:text="'张数：'+${product.htmlNum}+'页'"></span>
			</div>
                <div class="detail-sj">售价:</div>
                <div class="detail-price" th:text="'¥'+${product.price}"></div>
                <a th:href = "${taobaoUrl}"><button class="purchase_btns" style="  font-weight: bold;float: left; width:116px; font-size:16px;box-sizing:border-box; ">淘宝下单</button></a>
        </li>
    </ul>
    <div class="dSmallPicBox">
        <div class="dSmallPic">
            <ul class="ulSmallPic" style="width:2646px;left:0px" rel="stop">
                <li th:each="picture : ${pictureList}" >
                    <span  class="sPic"><img th:src="@{${picture.picturePath}}" width="135" height="100" /></span>
                    <span  class="sTitle" th:text="${picture.pictureTypeName}"></span>
                </li>
            </ul>
        </div>
        <span id="sLeftBtnB" class="sLeftBtnBBan"></span>
        <span id="sRightBtnB" class="sRightBtnB"></span>
    </div>
</div>

<link rel="stylesheet" th:href="@{/css/list.css}"/>
<script th:src="@{/js/common/jquery-1.4.2.min.js}"></script>
<script th:src="@{/js/list.js}"></script>
</body>

</html>